.customButton {
    background: #778C03;
    padding: 15px 40px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
}

.customButton:disabled {
    background: #9CA95A;
    color: black;
}