.mainPage > span{
    color: #000;
    width: auto;
    font-weight: 600;
    margin-left: 10px;
}

.selectElement {

}

.selectElement > div {
    display: inline-block;
    width: auto;
    margin: 10px;
}

.customButton {
    margin: 10px;
}
